.center {
    margin-left: auto;
    margin-right: auto;
  }

body {
    font-family: 'Courier New', Courier, monospace;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    
    }
.column {
    float: left;
    width: 33%;
    height: 800px;
    margin-left :2px;
    margin-right :2px;
    }

.innercolumn1 {
    float: left;
    width: 30%;
    height: 100px;
    margin-left :50px;
    margin-right :2px;
    text-align: center;
    }
.innercolumn2 {
    float: right;
    width: 30%;
    height: 100px;
    margin-left :2px;
    margin-right :50px;
    text-align: center;
    }

.button {
    font-family: 'Courier New', Courier, monospace;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    }
    
    .buttonOn {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    }
    
    .buttonOn:hover {
    background-color: #4CAF50;
    color: white;
    }
    .buttonOff {
        background-color: white; 
        color: black; 
        border: 2px solid #af4c4c;
        }
        
    .buttonOff:hover {
        background-color: #af4c4c;
        color: white;
        }